@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');

body{
    font-family: "Pixelify Sans", sans-serif;
    background-color: #000;
    color:#fff
}
h1{
    text-align: right;
    width: 45%;
}
header{
    border: 3px solid #fff;
}
.cabecalho{
    display: flex;
}

.button{
    height: 20px;
    margin:  4px;
}

.button:hover {
    transform: translateY(-2px);
}

a.button{
    font-size: 100%;
    padding: 6px;
    background-color: #1f1f1e;
    border: 1px solid #fff;
    color:red;
    text-decoration: none;
    border-radius: 5px;
    line-height: 1.5;
    margin: 20px 30px 0 30px;
    
}

.first_img{
    height: 100vh;
    background-image: url("../imagens/img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
}
.layoutImg {
    width: 70px;
    transition: all .5s;
}
.layoutImg:hover{
    cursor: help;
    width: 80px;
}

p{
    font-size: 40px;
    text-align: center;
}

.paisagem{
    height: 100vh;
    background-image: url(../imagens/fundo\ lindo.jpg);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    margin-left: 34%;
 }

 .dog{
    text-align: center;
 }
 .cat{
    width: 70px;
    transition: all 20s;
 }
 .cat:hover{
    width: 100%;
 }

 table, th,td{
    border: 2px solid #fff;
    border-collapse: collapse;
    background-color: #1f1f1e;
    width: 70%;
    text-align: center;
    padding: 25px;
    margin: 0 auto;
    font-size: 18px;
 }
th:hover{
    color: red;
    transition: all 0.2s;
    background-color: #000;
    transition: all 1s;
}

td:hover{
    color: yellow;
    transition: all 0.2s;
    background-color: #000;
    transition: all 1s;
}

.formulario h1{
    width: 100%;
    text-align: center;
}

.formulario{
    width: 70%;
    margin: 0 auto;                                  
    text-align: center;
}

.input-error {
    color: red;
    display: none;
}

.sucesso{
    color: green;
    display: none;
}

.formulario input{
    width: 40%;
    height: 30px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
}

#cadastrar button{
    margin-top: 15px;
    background-color: #1f1f1e;
    border: 1px solid white;
    border-radius: 5px;
    width: 20%;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#cadastrar button:hover{
    background-color: #000;
    transition: all 0.05s;
}

#cadastrar{
    margin-top: 15%;
}

.mouse p{
    color: #00000000;
}

.mouse p:hover{
    color: rgb(255, 97, 124);
}

.mouse img{
    width: 70px;
}

.mouse{
    text-align: center;
    margin-top: 40px;
}
.mouse img:hover{
   cursor: help;
   width: 80px;
}